In [30]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [31]:
#import data
reviews = pd.read_csv('reviews.csv')

In [32]:
#print .info
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   clothing_id      5000 non-null   int64
 1   age              5000 non-null   int64
 2   review_title     4174 non-null   object
 3   review_text      4804 non-null   object
 4   recommended      5000 non-null   bool
 5   division_name    4996 non-null   object
 6   department_name  4996 non-null   object
 7   review_date      5000 non-null   object
 8   rating           5000 non-null   object
dtypes: bool(1), int64(2), object(6)
memory usage: 317.5+ KB

In [33]:
#look at the counts of recommended
reviews['recommended'].value_counts()

True     4166
False     834
Name: recommended, dtype: int64

In [34]:
#create a binary dictionary
binary_dict = {True:1, False:0}

In [35]:
#create a new column
reviews['recommended'] = reviews['recommended'].map(binary_dict)
 
#print your transformed column
reviews['recommended'].value_counts()

1    4166
0     834
Name: recommended, dtype: int64

In [36]:
#look at the counts of rating
reviews['rating'].value_counts()

Loved it     2798
Liked it     1141
Was okay      564
Not great     304
Hated it      193
Name: rating, dtype: int64

In [37]:
#create dictionary
rating_dict = {'Loved it':5, 'Liked it':4, 'Was okay':3, 'Not great':2, 'Hated it':1}

In [38]:
#create a new column
reviews['rating'] = reviews['rating'].map(rating_dict)
 
#print your transformed column
reviews['rating'].value_counts()

5    2798
4    1141
3     564
2     304
1     193
Name: rating, dtype: int64

In [39]:
reviews['department_name'].value_counts()

Tops        2196
Dresses     1322
Bottoms      848
Intimate     378
Jackets      224
Trend         28
Name: department_name, dtype: int64

In [40]:
#perform get_dummies
one_hot = pd.get_dummies(reviews['department_name'])
one_hot

      Bottoms  Dresses  Intimate  Jackets  Tops  Trend
0           0        1         0        0     0      0
1           0        1         0        0     0      0
2           0        0         1        0     0      0
3           0        1         0        0     0      0
4           0        1         0        0     0      0
...       ...      ...       ...      ...   ...    ...
4995        0        0         0        0     1      0
4996        0        0         0        0     1      0
4997        0        1         0        0     0      0
4998        1        0         0        0     0      0
4999        0        0         0        0     1      0

[5000 rows x 6 columns]

In [41]:
#join the new columns back onto the original
reviews = reviews.join(one_hot)
 
#print column names
reviews.columns

Index(['clothing_id', 'age', 'review_title', 'review_text', 'recommended',
       'division_name', 'department_name', 'review_date', 'rating', 'Bottoms',
       'Dresses', 'Intimate', 'Jackets', 'Tops', 'Trend'],
      dtype='object')